{% extends 'base.html' %}
{% block title %}<title>Registration</title>{% endblock %}
{% block body %}
  <div id= "reg" class="container">
  <form method="POST" enctype=multipart/form-data" autocomplete="off">
  <h2 style = "margin-top: 2%; margin-bottom: 2% ">Sign up</h2>
    {% csrf_token %}
     <form method="POST" class="post-form" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
        {% for field in profile_form %}
        <h5>{{ field.label_tag }}</h5>
             {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        <button id="buttonS" type="submit" class="save btn btn-default" style = "margin-top: 2%; margin-bottom: 5%;">Save</button>

  </form>
  </div>
{% endblock %}