{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <style>

	.post_img{
	height: auto; width: 100%;
	}

	.like{height: 25px; width: auto; opacity: 0.7;}

	.shareico{height: 40px; width: auto; margin-right: 0.5em;}

	.ico{height: 20px; width: auto; margin-right: 0.2em; }

	#likeamount{margin-left: 10px;}

	#date{font-style: italic; right: 0; left: 100%;}

	.post{border: #e3e5e8 1px solid;}

	p{padding-left: 1em; padding-right: 1em;}

	textarea{width:100%; border: #e3e5e8 1px solid;}

	#comment{background-color: #f2f4f7; margin-bottom: 0.3em; width:100%;}

	button{width: 100%; background-color: #e7e7e7; color: black; border: none;}
	button:hover {
	  background-color: white
	}

	#comment_section{display: none;}

	#send_btn img
	{
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform:translate(-50%, -50%);
	}

	@media only screen and (max-width: 500px) {
	  #del_btn {
		text-align: left;
	  }
	}

</style>

</head>
<body>
	<div class="container">
        {% for obj in items %}
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post">

			<img src="{{ obj.thumb.url }}" class="post_img"/>

			<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><a  href="#"><img src="{% static 'images/heart.png'%}" class="like"></a> <label id="likeamount"><b>{{ obj.likes.count }}</b></label></div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<a href="#"><img src="{% static 'images/facebook_ico.png'%}" class="shareico"></a>
				<a href="#"><img src="{% static 'images/facebook_ico.png'%}" class="shareico"></a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><label id="date">{{ obj.created }}</label></div>
			</div><br>
            <h4>{{ obj.title }}</h4>
			<div class="row">
				<p>{{ obj.body }}t</p><br>
			</div>
			<p style="font-style: italic;">by <b>username</b></p>
			<div class="row">
				 <form method="post">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        {{ comment_form.as_p }}

                        <input id="send_btn" type="submit" value="Submit" class="btn btn-outline-success">
                    {% else %}
                        <p style="color:red"> You're not authenticated to write a comment<p>
                    {% endif %}
                </form>

			</div>

            {% if comments %}
			<div class="row"><button onclick="show()"><label id="show_comments">Show comments</label></button></div>
			<div id="comment_section">
            {% for comment in comments %}
				<div class="container" id="comment">
					<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label><b>username</b></label></div>
								<div class="col-lg-4 col-md-4 col-sm-3 col-7" style="text-align: right" id="del_btn">
									<a href="#">
										<img src="{% static 'images/delete.png'%}" class="ico">
									</a>
								</div>
							<div class="col-lg-2 col-md-2 col-sm-3 col-5" style="text-align: right"><label id="date" style="font-size: 0.7em;">comment date</label> </div>
					</div>
					<div class="row"><p>comment text</p></div>
				</div>
            {% endfor %}
			</div>
		</div>
            {% endif %}
        {% endfor %}
	</div>

	<script>
		function show()
		{
			if(document.getElementById("comment_section").style.display == "none")
			{
				document.getElementById("comment_section").style.display = "block";
				document.getElementById("show_comments").innerHTML = "Hide comments";
			}

			else
			{
				document.getElementById("comment_section").style.display = "none";
				document.getElementById("show_comments").innerHTML = "Show comments";
			}
		}
	</script>
{% endblock %}