{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <style>

	.post_img{
	height: auto; width: 100%;
	}

	.like{height: 25px; width: auto; opacity: 0.7;}

	.shareico{height: 40px; width: auto; margin-right: 0.5em;}

	.ico{height: 20px; width: auto; margin-right: 0.2em; }

	#likeamount{margin-left: 10px;}

	#date{font-style: italic; right: 0; left: 100%;}

	.post{border: #e3e5e8 1px solid;}

	p{padding-left: 1em; padding-right: 1em;}

	textarea{width:100%; border: #e3e5e8 1px solid;}

	#comment{background-color: #f2f4f7; margin-bottom: 0.3em; width:100%; padding-bottom:0%;}

	button{width: 100%; background-color: #e7e7e7; color: black; border: none;}
	button:hover {
	  background-color: white
	}

	#comment_section{display: none;}

    #send_btn{text-align: right; padding-bottom: 1%;}

	@media only screen and (max-width: 500px) {
	  #del_btn {
		text-align: left;
	  }
        .container{width: 100%;}
	}

    @media only screen and (min-width: 1201px) {
        .container{width: 50%;}
	}

    .container{padding-top: 2%; padding-bottom: 2%;}

</style>

</head>
<body>
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post">

			<img src="{{ post.thumb.url }}" class="post_img"/>

			<div class="row" style="padding-top: 1%;">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><a  href="{{ post.get_like_url }}"><img src="{% static 'images/heart.png'%}" class="like"></a> <label id="likeamount"><b>{{ post.likes.count }}</b></label></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="row">
                    {% load social_share %}
                    {% post_to_facebook object_or_url%}
                    <div class="facebook-this">
                        <a href="{{ facebook_url }}" target="_blank"><img class="shareico" src="{% static 'images/facebook_ico.png' %}"></a>
                    </div>
                    {% post_to_twitter "{{post.title}}. Check it out!" object_or_url %}
                    <div class="tweet-this">
                        <a href="{{ tweet_url }}" class="meta-act-link meta-tweet" target="_blank"><img class="shareico" src="{% static 'images/twitter_ico.png' %}"></a>
                    </div>
                    {% post_to_reddit "{{post.title}}" object_or_url %}
                   <div class="reddit-this">
                        <a href="{{ reddit_url }}" target="_blank"><img class="shareico" src="{% static 'images/reddit-ico.png' %}"></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><label id="date">{{ post.created }}</label></div>
			</div><br>
            <h4>{{ post.title }}</h4>
			<div class="row">
				<p style="white-space: pre-line">{{ post.body }}</p><br>
			</div>
			<div class="row">
                <div class="col-8"><p style="font-style: italic;">by <b>{{ post.user }}</b></p></div>
                {% if post.user.username == user.username %}
                    <div class="col-4" style="text-align: right;"><a href="{% url 'blog:post-delete' post.pk %}" onclick="return confirm('Do you really want to delete this post?')"><span style="color: red;">delete this post</span></a></div>
                {% endif %}
            </div>


				 <form method="post">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        {{ comment_form.as_p }}

                        <div id="send_btn"><input  type="submit" value="Submit" class="btn btn-outline-success"></div>
                    {% else %}
                        <p style="color:red"> You're not authenticated to write a comment<p>
                    {% endif %}
                </form>



            {% if comments %}
			<div class="row"><button onclick="show()"><label id="show_comments">Show comments</label></button></div>
			<div id="comment_section">
            {% for comment in comments %}
				<div class="container" id="comment">
					<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label><b>{{ comment.user }}</b></label></div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-7" style="text-align: right" id="del_btn">
                                    {% if comment.user.username == user.username %}
                                        <a href="{% url 'blog:comment_delete' comment.pk %}" onclick="return confirm('Do you really want to delete this comment?')">
                                            <img src="{% static 'images/delete.png'%}" class="ico">
                                        </a>
                                    {% endif %}
								</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-5" style="text-align: right"><label id="date" style="font-size: 0.7em;">{{ comment.timestamp }}</label> </div>
					</div>
					<div class="row"><p>{{ comment.content }}</p></div>
				</div>
            {% endfor %}
			</div>
		</div>
            {% endif %}
	</div>

	<script>
		function show()
		{
			if(document.getElementById("comment_section").style.display == "none")
			{
				document.getElementById("comment_section").style.display = "block";
				document.getElementById("show_comments").innerHTML = "Hide comments";
			}

			else
			{
				document.getElementById("comment_section").style.display = "none";
				document.getElementById("show_comments").innerHTML = "Show comments";
			}
		}


	</script>
{% endblock %}>